#general-container {
    margin-top: 15vh;
}

#contact-container {
    margin-top: 28vh;
    width: 100%;
}

.map-container {
    height: 400px;
    width: 350px;
    margin-bottom: 2vh;
}

#meet-header {
    margin-left: 3vh;
}

.person-container {
    margin-left: 3vh;
}

.person-image {
    width: 200px;
    height: 200px;
}